.add-event-body{
    width: 90%;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.session-day-icon
{
    font-size: 45px;
    text-align: center;
    width: 100%;
}

.fa-sun{
    color: yellow;
}